/data
/target
/.project
/.classpath
/.idea
/*.iml
/dependency-reduced-pom.xml
LOG
/test-integration/deps
/test-integration/target
*.sw[op]
/test-integration/service/outbackcdx/services/service.class
/test-integration/service/services.jar
